################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SunriseSunset/v16/.suo
/SunriseSunset/App_Data/Store.mdf
/SunriseSunset/App_Data/Store_log.ldf
/.vs/SunriseSunset/config/applicationhost.config
